<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PiFace Terms of Use</title>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container pt-4">
      <div class="alert alert-primary" role="alert">
        Terms of Use
      </div>
      <div class="row p-4" style="overflow-y: scroll; height: 400px">
        {% for line in tu_data %}
          {{ line }} <br/>
        {% endfor %}
      </div>
      <div class="m-3 p-3 text-center">
        <a class="btn btn-secondary" href="/" role="button">Close</a>
      </div>
    </div>
  </body>
</html>
